<!DOCTYPE html>
<html>
<head>
	<title>Iram - Consultar Certificado</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" type="image/ico" href="img/ico_iram.ico"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.7.8/angular.min.js"></script>
	<script type="text/javascript" src="js/appConsulta/module.js"></script>
	<script type="text/javascript" src="js/appConsulta/filter.js"></script>
	<script type="text/javascript" src="js/appConsulta/controller.js"></script>
	<link rel="stylesheet" type="text/css" href="css/ficha-iram.css">
</head>
<body ng-app="appConsulta" style="background: url('img/banner1.jpg') center -50% no-repeat;">
	<div ng-controller="appConsultaControl" class="container-fluid">
		<div class="row" style="width:120%; height:20px; background-color:#0e4783">
		    <div class="col-12"> </div>   
		</div>
				<nav class="navbar navbar-expand-sm navbar-light">
		 	 <!-- logo -->
		    <a class="navbar-brand" href="http://www.iramchile.cl/">
		      <img src="img/logo_iram_chile1.jpg" alt="">
		    </a>   
		 </nav>
		<br>
		<br>
		<div class="row justify-content-center">
		<form ng-submit="search()" method="post" class="search-input form-control">
			<input type="text" autofocus title="Solo ingrese numeros por favor" placeholder="Ingrese el RUT a consultar... Ej.: 16.889.232-5" autocomplete="off" ng-model="target" ng-focus="this.placeholder='hola...'" ng-change="format('target')" onfocus="this.parentElement.style['box-shadow'] = '0px 0px 5px rgb(77,144,254)'" onblur="this.parentElement.style['box-shadow'] = '0px 0px 5px rgba(77,144,254,0)'" />
			<span>
			</span>
			<img ng-click="search()" src="img/search.svg"/>
		</form><br><br><br>
	</div>
	
	<div class="row justify-content-center ">
	    <div class="col-12" style="background-color: #5dacff">
	        <div style="float:left; width:100%; height:240px; border-top:5px #5dacff solid; border-bottom:5px #5dacff solid;background: url('http://www.iramchile.cl/_IMG/home_d1.jpg') no-repeat; cursor:pointer"></div>
	   </div>
	</div>
	
	<div class="row justify-content-center fondo" ng-show="data.result&&!searching&&!error">
	
			<i style="color:green">Su consulta para el numero <b>{{last}}</b> arrojo el siguiente resultado.</i><br>
	</div>
	<div class="row justify-content-center fondo" ng-show="data.result&&!searching&&!error">
		<div class="dropdown">
			<button class="btn btn-success dropdown-toggle" type="button" id="dropdown1" data-toggle="dropdown">Descargar Certificado</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" target="_blanck" href="certificados/{{data.nro_registro}}.pdf">{{data.nro_registro}}.pdf</a>
			</div>
		</div>
	</div>
	<br>
	<div class="row justify-content-center fondo" ng-show="data.result&&!searching&&!error" >
				<div class="col-8 datos align-items-center">
						<div class="ficha-iram" style="background: url('img/bg-ficha.png') no-repeat center center; background-size: cover">
							<h2><span style="color:#ff6c2c; font-weight:bold;">>></span>Operador Equipos de Izaje</h2><br>
							<div class="ficha-linea-1">
								<div class="ficha-col-1">
									<img ng-src="img/img_{{data.rut}}.png" />
								</div>
								<div class="ficha-col-2">
									<label>APELLIDOS</label>
									<span>{{data.apellido|upperCase}}</span>
									<label>NOMBRES</label>
									<span>{{data.nombre|upperCase}}</span>
									<label>RUT</label>
									<span>{{last}}</span>
								</div>
								<div class="ficha-col-3 ">
									<img src="img/ico_iram.png">
								</div>
							</div>
							<div class="ficha-linea-2">
								<div class="ficha-col-1">
								<label>EVALUACION</label>
								<label><b>{{data.fecha_evaluacion}}</b></label>
								<label>FECHA EXPIRACION</label>
								<label><b>{{data.fecha_expiracion}}</b></label>
							</div>
							<div class="ficha-col-2">
								<label>Registro N°</label>
								<label><b>{{data.nro_registro}}</b></label>
								<label>Observaciones</label>
								<label><b>{{data.observaciones}}</b></label>
							</div>
							<div class="ficha-col-3">
								<label>Equipo de Izaje</label>
								<label><b>{{data.equipo}}</b></label>
							</div>
						</div>
						<div class="ficha-footer">
							VÁLIDA SÓLO DENTRO DEL PLAZO DE VIGENCIA DE UN (1) AÑO Y EN DESEMPEÑO EXCLUSIVO PARA SCHLUMBERGER CHILE 
						</div>
					</div>
		</div>
		
	</div>
	<div class="row justify-content-center fondo" ng-show="!data.result&&searching&&!error">
		<i class="text-muted">Buscando... Por favor espere...</i>
	</div>
	<div class="row justify-content-center fondo" ng-show="!data.result&&!searching&&!error">
		<i style="color:red">Su consulta para el numero <b>{{last}}</b> no arrojo ningun resultado.</i>
	</div>
	<div  class="row justify-content-center" ng-show="!data.result&&!searching&&error">
		<h3 style="color:red">No se pudo establecer conexion con el Servidor</h3>
		<p>Recomendamos <a href="#" onclick="document.location.reload()">actulizar</a> la pagina y volver a intentar.</p>
	</div>
	</div>
</body>
</html>